<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="keywords" content="{{app.keywords}}">
    <meta name="description" content="{{app.description}}">
    <title>{{app.title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/app.css">
  </head>
  <body><br><br><br><br><br><br>
    <div class="container">
      <div class="row text-center">
        <h3>UPLOAD VIA:</h3>
      </div><br><br><br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><a href="/client" class="btn btn-default btn-lg btn-block">Client</a></div>
        <div class="col-sm-4"><a href="/server" class="btn btn-default btn-lg btn-block">Server</a></div>
        <div class="col-sm-2"></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>